__pycache__/
*.pyc
venv/
data/uploads/*
!data/uploads/.gitkeep
data/vector_store/*
!data/vector_store/.gitkeep
data/profiles/*
!data/profiles/.gitkeep
models/piper/*
!models/piper/.gitkeep
outputs/*
!outputs/.gitkeep
